{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'entries/css/prism-tomorrow.css' %}">
    <link rel="stylesheet" href="{% static 'entries/css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/components/prism-python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-powershell.min.js"></script>
    <script src="{% static 'entries/js/script.js' %}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Local Wiki</title>
</head>
<body>
<div class="header-container">
    <div class="index-link">
        {% if request.resolver_match.view_name != 'index' %}
            <a class="index-link "href="{% url 'index' %}">< Back to index</a>
        {% endif %}
    </div>
    <div class="right-header">
        {% if request.resolver_match.view_name != 'upload' %}
            <a href="{% url 'upload' %}" class="button-link">Upload</a>
        {% endif %}
        <button class="mode-toggle" id="light-mode-toggle" onclick="toggleMode()">
            <img id="mode-icon" 
                    src="{% static 'entries/images/icons/dark-mode.svg' %}" 
                    alt="Toggle Light/Dark Mode"
                    data-light-src="{% static 'entries/images/icons/light-mode.svg' %}"
                    data-dark-src="{% static 'entries/images/icons/dark-mode.svg' %}">
        </button>
    </div>
</div>
{% block body %}
{% endblock %}
</body>
</html>