{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'entries/styles.css' %}">
    <script src="{% static 'entries/js/file_upload.js' %}"></script>
    <script src="{% static 'entries/js/light-mode-toggle.js' %}"></script>
    <title>Upload</title>
</head>
<body>
<button class="mode-toggle" id="light-mode-toggle" onclick="toggleMode()">
    <img id="mode-icon" 
            src="{% static 'entries/images/icons/dark-mode.svg' %}" 
            alt="Toggle Light/Dark Mode"
            data-light-src="{% static 'entries/images/icons/light-mode.svg' %}"
            data-dark-src="{% static 'entries/images/icons/dark-mode.svg' %}" />
</button>
{% block body %}
{% endblock %}
</body>
</html>