{% extends "entries/layout.html" %}
{% load static %}
{% block body %}
<div class="upload-header"> 
    {% if page %}
        <h1>Update Wiki Entry</h1>
    {% else %}
        <h1>Upload Wiki Entry</h1>
    {% endif %}
</div>
<div class="upload-container">
    <div class="error-message">
        {% if error %}
            <img class="error-icon" src="{% static 'entries/images/icons/error.svg' %}"> 
            {{ error }}
        {% endif %}
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="upload-title">
            <input type="text" id="title" name="title" value="{% if page %}{{ page.title }}{% else %}{{ '' }}{% endif %}" placeholder="Wiki Title">
        </div>
        <div class="uploads">
            <label for="markdown" class="upload-area">
                <input class="file-input" type="file" id="markdown" name="markdown">
                <img id="file-icon" class="icon" src="{% static 'entries/images/icons/file.svg' %}" 
                data-icon-light-src="{% static 'entries/images/icons/file.svg' %}"
                data-icon-dark-src="{% static 'entries/images/icons/file-black.svg' %}" />
                <span class="file-name">Upload markdown file to {% if page %}update wiki entry{% else %}create wiki entry{% endif %}</span>
                <span class="browse">Browse</span>
            </label>
            <label for="images" class="upload-area">
                <input class="file-input" type="file" id="images" name="images" multiple>
                <img id="image-icon" class="icon" src="{% static 'entries/images/icons/image.svg' %}"
                data-icon-light-src="{% static 'entries/images/icons/image.svg' %}"
                data-icon-dark-src="{% static 'entries/images/icons/image-black.svg' %}"/>
                <span class="file-name">Upload {% if page %}any new images in your markdown file{% else %}all images used in your markdown file{% endif %}</span>
                <span class="browse">Browse</span>
            </label>
        </div>
        <div class="upload-button">
            <button type="submit">{% if page %}Update{% else %}Create{% endif %}</button>
        </div>
    </form> 
</div>
{% endblock %}
</html>