{% extends "entries/layout.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'entries/styles.css' %}">
    <title>{{ page.title }}</title>
</head>
{% block body %}
    <div class="wiki-content">
        <div class="update-page">
            <a href="{% url 'upload' page.slug %}">
                <button class="small-link" id="btn-blue">Update</button>
            </a>
            <a href="{% url 'upload' page.slug %}">
                <button class="small-link" id="btn-red">Delete</button>
            </a>
        </div>
        <div class="title">
            <h1>{{ page.title }}</h1>
        </div>
        <div class="page-content">
            {{ html_content|safe }}
        </div>
    </div>
{% endblock %}
</html>
