:root {
    --background-color-dark: rgb(21, 21, 21);
    --text-color-dark: white;
    --primary-color-dark: #5f10e9;
    --primary-color-trans-dark: #6010e975;
    --negative-color-dark: red;
    --negative-hover-color-dark: rgb(211, 0, 0);
    --hover-color-dark: #4d0cba;
    --pre-background-dark: black;
    --pre-text-color-dark: white;
    --upload-area-background-color-dark: rgb(30, 30, 30);
    --upload-area-border-color-dark: white;
    --button-text-color-dark: white;
    --boxshadow-color-dark: #0c0c0cae;
    --border-color-dark: white;
    --code-background-color-dark: #121212;

    --background-color-light: rgb(255, 255, 255);
    --text-color-light: black;
    --primary-color-light: #6200ea;
    --primary-color-trans-light: #6010e975;
    --hover-color-light: #4e00b3;
    --negative-color-light: red;
    --negative-hover-color-light: rgb(211, 0, 0);
    --pre-background-light: black;
    --pre-text-color-light: white;
    --upload-area-background-color-light: rgb(238, 238, 238);
    --upload-area-border-color-light: rgb(144, 144, 144);
    --button-text-color-light: white;
    --boxshadow-color-light: #aaaaaa9b;
    --border-color-light: #aaaaaa9b;
    --code-background-color-light: black;

    /* Set default (dark mode) */
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --primary-color: var(--primary-color-dark);
    --primary-color-trans: var(--primary-color-trans-dark);
    --negative-color: var(--negative-color-dark);
    --negative-hover-color: var(--negative-hover-color-dark);
    --hover-color: var(--hover-color-dark);
    --pre-background: var(--pre-background-dark);
    --pre-text-color: var(--pre-text-color-dark);
    --upload-area-background-color: var(--upload-area-background-color-dark);
    --upload-area-border-color: var(--upload-area-border-color-dark);
    --button-text-color: var(--button-text-color-dark);
    --boxshadow-color: var(--boxshadow-color-dark);
    --border-color: var(--border-color-dark);
    --code-background-color: var(--code-background-color-dark);
}

.light-mode {
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
    --primary-color: var(--primary-color-light);
    --primary-color-trans: var(--primary-color-trans-light)
    --hover-color: var(--hover-color-light);
    --pre-background: var(--pre-background-light);
    --pre-text-color: var(--pre-text-color-light);
    --upload-area-background-color: var(--upload-area-background-color-light);
    --upload-area-border-color: var(--upload-area-border-color-light);
    --button-text-color: var(--button-text-color-light);
    --boxshadow-color: var(--boxshadow-color-light);
    --border-color: var(--border-color-light);
    --code-background-color: var(--code-background-color-light);
}

/*----------------------------------------------------------------
----------------------HTML Styling--------------------------------
----------------------------------------------------------------*/

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Poppins", sans-serif;
    margin: 0;
    overflow: auto;
}

h1 {
    margin-top: 30px;  
}

h2, h3 {
    margin-top: 20px;
}

p {
    line-height: 1.6;
}

pre {
    background-color: var(--pre-background);
    color: var(--pre-text-color);
    padding: 20px;
    border-radius: 4px;
    overflow-x: auto;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

button {
    margin-top: -35px;
    background-color: var(--primary-color);
    font-size: 16px;
    color: var(--button-text-color);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap; 

    &:hover {
        background-color: var(--hover-color);
    }
}

button[id="btn-delete"] {
    margin-top: -35px;
    background-color: var(--negative-color);
    font-size: 12px;
    color: var(--button-text-color);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap; 

    &:hover {
        background-color: var(--negative-hover-color);
    }
}

button[id="btn-blue"] {
    margin-top: -35px;
    background-color: var(--primary-color);
    font-size: 12px;
    color: var(--button-text-color);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap; 

    &:hover {
        background-color: var(--hover-color);
    }
}

/*----------------------------------------------------------------
----------------------Header Styling------------------------------
----------------------------------------------------------------*/

.header-container {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 25px;
    padding-left: 30px;
}

.index-link {
    position: relative;
    font-size: 16px;

    &:hover {
        color: var(--primary-color);
    }
}

.right-header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 60px;
}

.mode-toggle {  
    position: relative;  
    display: flex;
    align-items: center;
    margin-top: 0px;
    background-color: transparent;
    cursor: pointer; 
    box-shadow: inset 0px 0px 6px rgb(48, 48, 48);
    border-radius: 100px;

    &:hover {
        background-color: transparent;
        border-radius: 100px;
        box-shadow: inset 0px 1px 5px 4px var(--boxshadow-color);
    }
}

.button-link {
    position: relative;
    background-color: var(--primary-color);
    font-size: 16px;
    color: var(--button-text-color);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none; 
    border: none; 

    &:hover {
        background-color: var(--hover-color); 
    }
}

/*----------------------------------------------------------------
----------------------Index Styling-------------------------------
----------------------------------------------------------------*/

a[class="wiki-entry"] {
    font-size: 18px;

    &:hover {
        color: var(--primary-color);
    }
}

.wiki-index {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 120px;
}

.wiki-entries {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    gap: 15px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

input[id="search"] {
    box-sizing: border-box;
    border: 1.5px solid rgba(255, 255, 255, 0.128); 
    color: var(--text-color);
    background: var(--upload-area-background-color);
    outline: none;
    box-shadow: 0px 2px 5px 4px var(--boxshadow-color);
    font-size: 16px;
    width: 500px;
    height: 25px;
    padding: 20px;
    border-radius: 4px;

    &:focus {
        outline: none; 
        border: 1.5px solid;
        border-color: var(--primary-color);
    }
}

/*----------------------------------------------------------------
----------------------Content Page Styling------------------------
----------------------------------------------------------------*/


.wiki-content {
    background-color: var(--upload-area-background-color);
    border-radius: 10px;
    box-shadow: 0px 2px 15px 6px var(--boxshadow-color);
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px;
}

.page-content img {
    display: block;
    max-width: 100%;
    width: 70%;
    margin: 20px auto;
    text-align: center;
}

.page-content {
    padding: 20px;
}

.title {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: -25px;
    margin-top: 40px;
}

.update-page {
    display: flex;
    gap: 10px;
    justify-content: right;
    margin-top: -5px;
    margin-right: -5px;
    align-items: center;
}

button[id="delete"] {
    background-color: red;

    &:hover {
        background-color: var(--negative-hover-color)
    }
}

.delete-popup {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1.5px);
    z-index: 99;
}

.delete-popup-elements {
    text-align: center;
    width: 300px;
    height: 180px;
    padding: 20px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0,); 
    border: 3px solid rgba(91, 91, 91, 0.3);
    border-radius: 15px;
    position: relative;
}


.delete-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 40px;
}

/*----------------------------------------------------------------
----------------------Upload Page Styling-------------------------
----------------------------------------------------------------*/

.upload-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    gap: 20px;
}

.upload-header {
    text-align: center;
    margin-top: 120px;
    margin-bottom: -30px;
}

.upload-title {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
}

input[id="title"] {
    box-sizing: border-box;
    border: 1.5px solid rgba(255, 255, 255, 0.128); 
    color: var(--text-color);
    background: var(--upload-area-background-color);
    outline: none;
    box-shadow: 0px 2px 5px 4px var(--boxshadow-color);
    font-size: 16px;
    width: 540px;
    height: 25px;
    padding: 20px;
    border-radius: 4px;

    &:focus {
        outline: none; 
        border: 1.5px solid;
        border-color: var(--primary-color);
    }
}

.error-message {
    display: flex;
    align-items: center;
    gap: 5px;
    color: red;
    text-align: center;
    margin-top: -10px;
}

.uploads {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 40px;
}

.upload-markdown,
.upload-images {
    text-align: center;
    width: auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}

.upload-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 40px;
    gap: 5px;
    background-color: var(--upload-area-background-color);
    border-radius: 10px;
    border: var(--border-color) solid 1.5px;
    border-style: dashed;
    padding: 20px;
    margin-bottom: 20px;

    &:hover {
        cursor: pointer;
    }
}

.upload-button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

input[type="file"] {
    display: none; 
}

.file-name {
    width: 380px;
    padding: 5px; 
    color: var(--text-color); 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
}

.browse {
    background-color: var(--primary-color);
    color: var(--button-text-color);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;

    &:hover {
        background-color: var(--hover-color);
    }
}